html, body{
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
}

.titulo-1{
    text-align: center;
}

.dados-funcionario{
    display:inline-block;
}

.linha{
    border: 3px solid blue;
}

.col-md-1{
    margin-left: 100px;
}
.col-md-2{
    margin-right: 100px;
}